.DS_Store
*.pyc
media/*
static/*
.idea/*
.sass-cache/*
combatlogs/*
database.sqlite
uwsgi.pid
application/static/css/app.css
application/static/css/icons/foundation_icons_accessibility/accessibility_foundicons.css
application/static/css/icons/foundation_icons_accessibility/accessibility_foundicons_ie7.css
application/static/css/icons/foundation_icons_general/general_foundicons.css
application/static/css/icons/foundation_icons_general/general_foundicons_ie7.css
application/static/css/icons/foundation_icons_general_enclosed/general_enclosed_foundicons.css
application/static/css/icons/foundation_icons_general_enclosed/general_enclosed_foundicons_ie7.css
application/static/css/icons/foundation_icons_social/social_foundicons.css
application/static/css/icons/foundation_icons_social/social_foundicons_ie7.css